.footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b0f13;
  font-family: "Poppins";
  > p {
    font-size: 20px;
    color: #272f37;
    > a {
      color: rgb(193, 189, 189);
    }
  }
}
